.header {
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    padding: 0 1.6rem;
}

.logo {
    // line-height: 100%;
    align-content: center;
    font-size: 1.6rem;
}

.btn-hamburger {
    cursor: pointer;
    background: var(--primary);
    color: var(--secondary);
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 44px;
    aspect-ratio: 1;
}

.navbar {
    color: var(--text-primary);

    .nav-items {
        display: flex;

        .nav-item {
            padding: 8px;
            position: relative;

            &:hover {
                cursor: pointer;
                color: var(--text-secondary);
            }

            &.active {
                color: var(--primary);
                font-weight: 600;
            }
        }
    }
}


// RWD

@media only screen and (max-width: 1199px) {}

@media only screen and (max-width: 575px) {
    .header {
        flex-wrap: wrap;
        position: relative;
        z-index: 1;

        &::after {
            content: '';
            position: absolute;
            background: white;
            // opacity: 0.5;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }

    .logo {
        z-index: 1;
    }

    .btn-hamburger {
        z-index: 1;
        display: flex;
        flex-direction: column;
        gap: 3.2px;

        .btn-hamburger-line {
            background: var(--background);
            width: 18px;
            height: 2.8px;
            border-radius: 25%;
            transition: rotate 0.3s ease;
        }

        &.active {
            background: var(--text-secondary);
            gap: 8px;

            .btn-hamburger-line:nth-child(1) {
                rotate: 45deg;
            }
            .btn-hamburger-line:nth-child(2) {
                display: none;
            }
            .btn-hamburger-line:nth-child(3) {
                rotate: -45deg;
                position: absolute;
                
            }
        }
    }


    .navbar {
        background: var(--secondary);
        position: absolute;
        z-index: -1;
        overflow: hidden;

        top: 100%;
        left: 0;
        width: 100%;
        transition: top 0.3s ease;


        .nav-items {
            flex-direction: column;

            .nav-item {
                width: 100%;
                text-align: center;
                padding: 8px 0;

                &:hover {
                    color: var(--text-primary);
                    background: var(--text-secondary);
                }

                &.active {}
            }
        }

        &:not(.collapsed) {}

        &.collapsed {
            top: -100%;
        }
    }
}