@use '../../../styles/typography';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    padding: 0 1.6rem;
}

.logo {
    @include typography.h2;
    cursor: pointer;
    display: flex;
    gap: 8px;
    align-items: center;
    align-content: center;

    .cube {
        background: var(--primary);
        width: 16px;
        aspect-ratio: 1;
    }
}

.btn-hamburger {
    cursor: pointer;
    background: var(--primary);
    color: var(--secondary);
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 44px;
    aspect-ratio: 1;
}

.navbar {
    color: var(--text-primary);

    .nav-items {
        display: flex;

        .nav-item {
            padding: 8px;
            position: relative;
            transition: color 0.3s ease;

            &:hover {
                cursor: pointer;
                color: var(--text-secondary);
            }

            &.active {
                color: var(--primary);
                font-weight: typography.$font-weight-bold;
            }
        }
    }
}


// RWD

@media only screen and (max-width: 1199px) {}

@media only screen and (max-width: 767px) {
    .header {
        flex-wrap: wrap;
        position: relative;
        z-index: 3;
        box-shadow: var(--main-box-shadow);

        &::after {
            content: '';
            position: absolute;
            background: white;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }

    .logo {
        z-index: 3;
    }

    .btn-hamburger {
        z-index: 3;
        display: flex;
        flex-direction: column;
        gap: 3.2px;

        .btn-hamburger-line {
            background: var(--background);
            width: 18px;
            height: 2.8px;
            border-radius: 25%;
            transition: rotate 0.3s ease;
        }

        &.active {
            background: var(--text-secondary);
            gap: 8px;

            .btn-hamburger-line:nth-child(1) {
                rotate: 45deg;
            }

            .btn-hamburger-line:nth-child(2) {
                display: none;
            }

            .btn-hamburger-line:nth-child(3) {
                rotate: -45deg;
                position: absolute;
            }
        }
    }


    .navbar {
        background: var(--secondary);
        position: absolute;
        z-index: 0;
        overflow: hidden;

        top: 100%;
        left: 0;
        width: 100%;
        transition: top 0.3s ease;
        box-shadow: var(--main-box-shadow);


        .nav-items {
            flex-direction: column;


            .nav-item {
                width: 100%;
                text-align: center;
                padding: 8px 0;

                &:hover {
                    color: var(--text-primary);
                    background: var(--text-secondary);
                }

                &.active {}
            }
        }

        &:not(.collapsed) {
            // z-index: 0;

            // &::before {
            //     content: '';
            //     background: var(--grey);
            //     background: pink;
            //     position: fixed;
            //     z-index: -2;
            //     left: 0;
            //     right: 0;
            //     top: 0;
            //     bottom: 0;
            // }
        }

        &.collapsed {
            top: -150%;
        }
    }
}