@use './styles/animations';
@use './styles/components';
@use './styles/mixins';
@use './styles/utilities';
@use './styles/typography';
@use './styles/variables';


body {
    margin: 0;
    font-family: "Kantumruy Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}