:root {
    // 顏色變數
    --background: #f7f1f0;
    --primary: #a15c38;
    --secondary: #c3a6a0;
    --text-primary: #262220;
    --text-secondary: #aa9990;
    // --beige-primary: #e6dace;
    // --beige-secondary: #f4ece6;
    --beige-primary: #e7e1e1;
    --beige-secondary: #f7f1f0;
    --main-box-shadow: -11.31px 11.31px 17px 0px rgba(138, 131, 124, 0.23);
    // 深色版
    --background-dark: #000000;
    --text-primary-dark: #ffffff;
}

body {
    margin: 0;
    font-family: "Kantumruy Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    color: var(--primary);
}

// btn
button {
    cursor: pointer;
}

.btn-primary {
    width: 8rem;
    line-height: 2rem;
    border-radius: 100px;
    border: var(--primary) 1.6px solid;
    background: var(--primary);
    color: white;
    font-weight: 600;
    transition: background-color 0.4s ease, color 0.4s ease;

    &:hover {
        background: white;
        color: var(--primary);
    }
}

.btn-secondary {
    width: 8rem;
    line-height: 2rem;
    border-radius: 100px;
    border: var(--text-primary) 1.6px solid;
    background: white;
    color: var(--text-primary);
    font-weight: 600;
    transition: background-color 0.4s ease, color 0.4s ease, border-color 0.4s ease;

    &:hover {
        background: var(--primary);
        color: white;
        border-color: var(--primary);
    }
}


// animate
.fade-in-left {
    opacity: 0;
    transform: translateX(-100px);
    animation: fadeInX 0.7s ease-out forwards;
}

.fade-in-right {
    opacity: 0;
    transform: translateX(100px);
    animation: fadeInX 0.7s ease-out forwards;
}

.fade-in-top {
    opacity: 0;
    transform: translateY(100px);
    animation: fadeInY 0.7s ease-out forwards;
}

.fade-in-bottom {
    opacity: 0;
    transform: translateY(-100px);
    animation: fadeInY 0.7s ease-out forwards;
}

@keyframes fadeInX {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInY {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

.d-flex {
    display: flex;
}

// RWD

@media only screen and (max-width:1199px) {
    .d-xl-block {
        display: block;
    }

    .d-xl-flex {
        display: flex;
    }


}

@media only screen and (max-width: 575px) {
    .d-sm-none {
        display: none;
    }

    .d-sm-block {
        display: block;
    }

    .d-sm-flex {
        display: flex;
    }
}