<div class="container-fluid">

    <div class="block-title">
        <h3>CONTACT ME</h3>
    </div>

    <div class="contact-form">
        <form class="" action="https://formsubmit.co/yuna1313677@gmail.com" method="post">
            <label for="message">想說的話 *
                <textarea id="message" name="message" required></textarea>
            </label>
            <label for="subject">怎麼稱呼您
                <input id="subject" name="subject" type="text">
            </label>
            <label for="email">Email *
                <input id="email" name="email" type="email" required>
            </label>
            <label for="phone">電話號碼 *
                <input id="phone" name="phone" type="tel" required maxlength="10">
            </label>
            <button type="submit">確認送出</button>
        </form>
    </div>

    <div class="contact-info">

        <div>
            <h1>Yurie Lin</h1>
            <h3>FRONTEND ENGINEER</h3>
        </div>
        <div>
            <h4>Phone:</h4>
            <h5>0935367869</h5>
        </div>
        <div>
            <h4>Email:</h4>
            <h5><a href="mailto:yuna1313677@gmail.com">yuna1313677&#64;gmail.com</a></h5>
        </div>

        <hr>

        <div class="social-account">
            <a href="https://github.com/cucumber401" target="_blank">
                <i class="fa-brands fa-github" title="GitHub"></i>
            </a>
            <a href="https://www.linkedin.com/in/%E8%8A%B7%E5%A6%A4-%E6%9E%97-961607299/" target="_blank">
                <i class="fa-brands fa-linkedin" title="LinkedIn"></i>
            </a>
        </div>

    </div>

</div>