<div class="container-project">
    <div class="block-title">
        <h3>PROJECTS - AI室內設計平台</h3>
    </div>
    <div class="projects">

        <div *ngFor="let item of demoList" class="project-item">
            <div class="project-media">
                <video autoplay muted loop playsinline [style.aspect-ratio]="item.sizeRatio">
                    <source src={{item.src}} type="video/mp4" />
                    您的瀏覽器不支援 HTML5 video。
                </video>
            </div>
            <div class="project-description">
                <div class="title">{{item.title}}</div>
                <div class="detail" [innerHTML]="item.description"></div>
            </div>
        </div>

    </div>

</div>