@use '../../../styles/mixins.scss';
@use '../../../styles/typography';


.container-project {
    text-align: center;
}

.block-title {
    border-bottom: 2px solid var(--beige-secondary);

    h3 {
        letter-spacing: typography.$letter-spacing-xl;
        line-height: 100px;
    }
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding: 40px 24px;
    margin: auto;
    max-width: 1200px;
}

.project-item {
    display: flex;
    gap: 24px;

    .project-media {
        flex: 1;
        border-radius: 15px;
        box-shadow: var(--main-box-shadow);
        overflow: hidden;

        video {
            width: 100%;
            height: calc(100% + 2px); // 裁掉底下黑線
            object-fit: cover;
            display: block;
        }
    }

    .project-description {
        flex: 0.6;
        border-radius: 15px;
        box-shadow: var(--main-box-shadow);
        background: var(--beige-secondary);
        padding: 1.2rem 2rem;
        height: fit-content;

        .title {
            @include typography.h2;
            text-align: left;
            font-weight: typography.$font-weight-medium;
            color: var(--text-primary);
            border-radius: 4px;
            line-height: 200%;
            margin-bottom: 0.8em;
        }

        .detail {
            text-align: left;

            ul {
                font-size: typography.$font-size-lg;
                padding-left: 1.5rem;
                margin: 0;

                li {
                    margin-bottom: 1em;
                }
            }
        }
    }
}

@media only screen and (max-width: 575px) {
    .projects {
        gap: 64px;
    }

    .project-item {
        flex-direction: column;

        .project-description {

            .title {
                background: transparent;
            }
        }
    }
}