<div class="container-fluid">
    <div class="block-title">
        <h3>PROJECTS</h3>
    </div>
    <div class="projects">

        <!--  -->
        <!-- <div class="project-item">
            <div class="project-media">
                <video autoplay muted loop playsinline [style.aspect-ratio]="1920 / 1336">
                    <source src="../../../assets/videos/demo_BA圖.mp4" type="video/mp4" />
                    測試
                </video>
            </div>
            <div class="project-description">
                <div class="title">/////測試//////</div>
                <div class="detail">
                    <ul>
                        <li>畫布塗抹功能</li>
                        <li>調整筆刷或橡皮擦粗細</li>
                        <li>塗抹後重新生成</li>
                    </ul>
                </div>
            </div>
        </div> -->
        <!--  -->

        <div *ngFor="let item of demoList" class="project-item">
            <div class="project-media">
                <video autoplay muted loop playsinline [style.aspect-ratio]="item.sizeRatio">
                    <source src={{item.src}} type="video/mp4" />
                    您的瀏覽器不支援 HTML5 video。
                </video>
            </div>
            <div class="project-description">
                <div class="title">{{item.title}}</div>
                <div class="detail" [innerHTML]="item.description"></div>
            </div>
        </div>

    </div>

</div>