// 共用元件樣式（如 button, card）
@use './typography';


// btn
button {
    cursor: pointer;
    font-weight: typography.$font-weight-bold;
    font-size: 0.9rem;
}

@mixin btn-primary {
    width: 8rem;
    line-height: 2rem;
    border-radius: 100px;
    border: var(--primary) 1.6px solid;
    background: var(--primary);
    color: white;
    transition: background-color 0.4s ease, color 0.4s ease;

    &:hover {
        background: white;
        color: var(--primary);
    }
}

@mixin btn-secondary {
    width: 8rem;
    line-height: 2rem;
    border: var(--text-primary) 1.6px solid;
    background: white;
    color: var(--text-primary);
    transition: background-color 0.4s ease, color 0.4s ease, border-color 0.4s ease;
    
    &:hover {
        background: var(--primary);
        color: white;
        border-color: var(--primary);
    }
}

.btn-primary-r100 {
    @include btn-primary;
    border-radius: 100px;
}
.btn-secondary-r100 {
    @include btn-secondary;
    border-radius: 100px;
}