// geometry
@mixin circle {
    background: var(--text-primary);
    border-radius: 50%;
    aspect-ratio: 1;
}

@mixin dot {
    @include circle;
    width: 6px;
}

@mixin icon-sm {
    color: white;
    font-size: 20px;
}
@mixin icon-md {
    font-size: 22px;
}