// 所有字體、字重、行高等設定


// 字型
$font-sans: 'Noto Sans TC', sans-serif;
$font-serif: 'Georgia', serif;
$font-mono: 'Courier New', monospace;

// 字重
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;

// 字體大小
$font-size-xs: 0.75rem; // 12px
$font-size-sm: 0.875rem; // 14px
$font-size-md: 1rem; // 16px（瀏覽器預設）
$font-size-lg: 1.125rem; // 18px
$font-size-xl: 1.5rem; // 24px
$font-size-xxl: 2rem; // 32px

// 字距
$letter-spacing-sm: 0.02em;
$letter-spacing-md: 0.05em;
$letter-spacing-lg: 0.1em;
$letter-spacing-xl: 0.125em;
$letter-spacing-xxl: 0.25em;

@mixin p {
    font-size: $font-size-xs;
    font-weight: $font-weight-regular;
}
@mixin h5 {
    font-size: $font-size-sm;
    font-weight: $font-weight-regular;
}
@mixin h4 {
    font-size: $font-size-md;
    font-weight: $font-weight-medium;
}
@mixin h3 {
    font-size: $font-size-lg;
    font-weight: $font-weight-medium;
}
@mixin h2 {
    font-size: $font-size-xl;
    font-weight: $font-weight-bold;
}
@mixin h1 {
    font-size: $font-size-xxl;
    font-weight: $font-weight-bold;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    color: var(--primary);
}

h6,p {
    @include p;
}
h5 {
    @include h5;
}
h4 {
    @include h4;
}
h4 {
    @include h4;
}
h3 {
    @include h3;
}
h2 {
    @include h2;
}
h1 {
    @include h1;
}