// 所有變數（顏色、間距、字型、陰影等）

// ===== SCSS 變數定義 =====
$background:        #f7f1f0;
$primary:           #a15c38;
$secondary:         #c3a6a0;
$text-primary:      #262220;
$text-secondary:    #aa9990;
$beige-primary:     #e7e1e1;
$beige-secondary:   #f7f1f0;
// $beige-primary:     #e6dace;
// $beige-secondary:   #f4ece6;
$main-box-shadow:   -11.31px 11.31px 17px 0px rgba(138, 131, 124, 0.23);

// 深色模式
$background-dark:       #000000;
$text-primary-dark:     #ffffff;

// ===== 輸出成 CSS 變數（:root）=====
:root {
  --background:        #{$background};
  --primary:           #{$primary};
  --secondary:         #{$secondary};
  --text-primary:      #{$text-primary};
  --text-secondary:    #{$text-secondary};
  --beige-primary:     #{$beige-primary};
  --beige-secondary:   #{$beige-secondary};
  --main-box-shadow:   #{$main-box-shadow};

  // 深色模式
  --background-dark:     #{$background-dark};
  --text-primary-dark:   #{$text-primary-dark};
}