@use './animations';
@use './components';
@use './mixins';
@use './utilities';
@use './typography';
@use './variables';

html {
    font-size: 16px;
    color: var(--text-primary);
}

body {
    margin: 0;
    font-family: typography.$font-family-chinese;
    font-family: typography.$font-family-english, typography.$font-family-chinese;

    font-optical-sizing: typography.$font-weight-regular;
    font-weight: 400;
    font-style: normal;
}

:lang(en) {
    font-family: typography.$font-family-english;
}

:lang(zh) {
    font-family: typography.$font-family-chinese;
}