@use './animations';
@use './components';
@use './mixins';
@use './utilities';
@use './typography';
@use './variables';

html {
    font-size: 16px;
}

body {
    margin: 0;
    font-family: "Kantumruy Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}