<app-layout-1>
    <div class="container-fluid">
        <div class="profile-bg">
            <div class="colored"></div>
            <div></div>

            <div class="profile-center">

                <div class="profile-card">

                    <div class="photo">
                        <img src="../../../assets/images/生活照.jpg" alt="個人照">
                        <!-- <img src="../../../assets/images/photo探險活寶畫風.webp" alt="個人照"> -->
                    </div>

                    <h2>林芷妤 <br>Yurie Lin</h2>
                    <hr>
                    <h3>FRONTEND ENGINEER</h3>
                </div>

                <div class="intro">
                    <h1>Hello!</h1>
                    <h3>我是林芷妤，前端工程師</h3>
                    <div class="d-flex">
                        <button class="btn-primary" routerLink="/experience">RESUME</button>
                        <button class="btn-secondary" routerLink="/projects">PROJECTS</button>
                    </div>
                    是於股話比物時待愛程麼化沒，教照亮否日牛同西未物藥如收歡因務算在當要決腦們長麼子改多童實發育不標素性少不議相現中上進能字講生單但強文。
                    <br><br>
                    影觀則有美她法地之究手是，樂友開山度票現他中看工我五或。消力打濟兒分主提去古文卻只政。
                </div>
            </div>

        </div>

    </div>
</app-layout-1>