.footer {
    // position: absolute;
    // bottom: 0;
    // width: 100%;
    background: var(--primary);
    color: white;
    display: block;
    text-align: center;
    line-height: 1.6rem;
    padding: 0.8rem;
}