<div class="footer">
    © 2025 by Yurie Lin.

    <div class="social-account">
        <a href="https://github.com/cucumber401" target="_blank">
            <i class="fa-brands fa-github" title="GitHub"></i>
        </a>
        <a href="https://www.linkedin.com/in/%E8%8A%B7%E5%A6%A4-%E6%9E%97-961607299/" target="_blank">
            <i class="fa-brands fa-linkedin" title="LinkedIn"></i>
        </a>
        <!-- <a href="https://github.com/cucumber401" target="_blank">
            <i class="fa-brands fa-square-github" title="GitHub"></i>
        </a> -->
    </div>
</div>